BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterCaseLabel: false
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
AllowShortLambdasOnASingleLine: Inline
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
SortIncludes: false
